#xyzoverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); }

#xyzframe {
  border: 25px solid white;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  width: 40px;
  height: 40px; }
